/Makefile
/Makefile.Debug
/Makefile.Release
/stopmotion
stopmotion.pro.user
/ui_*.h
/debug
/release
/.settings
.project
.cproject
/divx2pass.log
/src/test/debug
/src/test/release
/src/test/test
/src/test/Makefile
/src/test/Makefile.Debug
/src/test/Makefile.Release
moc_*.cpp
*.so
*.o
*~

build/
src/test/test-d
src/test/test
src/test/testoom
