# Debian 11 (bullseye) with GCC 10
deb11-gcc10:
  image: debian:11
  before_script:
    - apt-get update
    - apt-get -y install
        build-essential pkg-config cmake
        qtbase5-dev qtmultimedia5-dev qttools5-dev qttools5-dev-tools
        libtar-dev libxml2-dev
        libvorbis-dev vgrabbj uvccapture
  script:
    - mkdir build ; cd build
    - cmake ..
    - make
    - make test-stopmotion
    - make test

# Debian 12 (bookworm) with Clang 14
deb12-clang14:
  image: debian:bookworm
  before_script:
    - apt-get update
    - apt-get -y install
        build-essential pkg-config cmake clang
        qtbase5-dev qtmultimedia5-dev qttools5-dev qttools5-dev-tools
        libtar-dev libxml2-dev
        libvorbis-dev vgrabbj uvccapture
  script:
    - mkdir build ; cd build
    - cmake -DCMAKE_CXX_COMPILER=clang++ ..
    - make
    - make test-stopmotion
    - make test

# Ubuntu 22.10 (kinetic) with GCC 12
ubuntu2210-gcc12:
  image: ubuntu:22.10
  before_script:
    - apt-get update
    # work around interactive question when installing tzdata
    - DEBIAN_FRONTEND=noninteractive TZ=Etc/UTC apt-get -y install tzdata
    - apt-get -y install
        build-essential pkg-config cmake
        qtbase5-dev qtmultimedia5-dev qttools5-dev qttools5-dev-tools
        libtar-dev libxml2-dev
        libvorbis-dev vgrabbj uvccapture
  script:
    - mkdir build ; cd build
    - cmake ..
    - make
    - make test-stopmotion
    - make test

# openSuse Leap with Clang 15
opensuseleap15.4-clang15:
  image: opensuse/leap:15.4
  before_script:
    - zypper refresh
    - zypper install -y
        clang cmake pkg-config
        libQt5Gui-devel libQt5Widgets-devel libqt5-qtmultimedia-devel libqt5-qtbase-common-devel libqt5-linguist-devel
        libtar-devel libxml2-devel libvorbis-devel
  script:
    - mkdir build ; cd build
    - cmake -DCMAKE_CXX_COMPILER=clang++ ..
    - make
    - make test-stopmotion
    - make test

# openSuse Tumbleweed with GCC 12
opensusetumbleweed-gcc12:
  image: opensuse/tumbleweed
  before_script:
    - zypper refresh
    - zypper install -y
        gcc pkg-config cmake
        libQt5Gui-devel libQt5Widgets-devel libqt5-qtmultimedia-devel libqt5-qtbase-common-devel libqt5-linguist-devel
        libtar-devel libxml2-devel libvorbis-devel
  script:
    - mkdir build ; cd build
    - cmake ..
    - make
    - make test-stopmotion
    - make test
