*.o
*.so
/moc_*.cpp
/ui_*.h
/Makefile
/stopmotion
/translations/stopmotion_*.qm
/Makefile
/Makefile.Debug
/Makefile.Release
/stopmotion.pro.user
/build/
/build-cmake
/divx2pass.log
/src/test/build/
/src/test/test
/src/test/Makefile
/src/test/Makefile.Debug
/src/test/Makefile.Release
/src/test/test-d
/src/test/test
/src/test/testoom
/stopmotion-d
# Eclipse project and settings files
.settings/
.cproject
.project
# Coverity intermediate files
/cov-int
.vscode
.qmake.stash
# gtags output
GTAGS
GRTAGS
GPATH
