*~
*.o
*.so
/moc_*.cpp
/ui_*.h
/Makefile
.project
.cproject
/stopmotion
/.settings/
/Makefile
/Makefile.Debug
/Makefile.Release
/stopmotion.pro.user
/build/
/divx2pass.log
/src/test/build/
/src/test/test
/src/test/Makefile
/src/test/Makefile.Debug
/src/test/Makefile.Release
/src/test/test-d
/src/test/test
/src/test/testoom
/stopmotion-d

