[Desktop Entry]
Name=Stopmotion
Name[ca]=Stopmotion
Name[ca@valencia]=Stopmotion
Name[cs]=Stopmotion
Name[de]=Stopmotion
Name[en_GB]=Stopmotion
Name[es]=Stopmotion
Name[fr]=Stopmotion
Name[it]=Stopmotion
Name[ka]=Stopmotion
Name[nl]=Stopmotion
Name[pl]=Stopmotion
Name[pt]=Stopmotion
Name[pt_BR]=Stopmotion
Name[ro]=Stopmotion
Name[sk]=Stopmotion
Name[sl]=Stopmotion
Name[sv]=Stopmotion
Name[tr]=Stopmotion
Name[uk]=Stopmotion
Name[x-test]=xxStopmotionxx
Icon=stopmotion
Comment=Program to create stop-motion animations
Comment[ca]=Programa per a crear animacions stop-motion
Comment[ca@valencia]=Programa per a crear animacions stop-motion
Comment[de]=Programm um Animationen mit der Filmtechnik Stop-Motion zu erstellen
Comment[en_GB]=Program to create stop-motion animations
Comment[es]=Programa para crear animaciones fotograma a fotograma
Comment[fr]=Programme pour la création d'animations en image par image
Comment[it]=Programma per creare animazioni a passo uno
Comment[ka]=პროგრამა stop-motion ანიმაციების შესაქმნელად
Comment[nl]=Programma om animaties met stop-motion aan te maken
Comment[pl]=Program do tworzenia animacji poklatkowych
Comment[pt]=Programa para criar animações com imagens estáticas
Comment[pt_BR]=Programa para criar animações em stop-motion
Comment[ro]=Program pentru crearea animațiilor cadru cu cadru
Comment[sk]=Program na vytvorenie stop-motion animácií
Comment[sl]=Program za ustvarjanje animacij z zaustavljanjem gibanja
Comment[sv]=Program för att skapa animeringar med enbildstagning
Comment[tr]=Stop-motion canlandırmalar oluşturmak için bir program
Comment[uk]=Програма для створення покадрових анімацій
Comment[x-test]=xxProgram to create stop-motion animationsxx
Exec=stopmotion %f
Terminal=false
Type=Application
Categories=AudioVideo;Video;AudioVideoEditing;KDE;Qt;
Keywords=Animation;Stop Motion Animation;Stop Frame Animation;
Keywords[ca]=Animació;Animació stop-motion;Animació Stop Frame;
Keywords[ca@valencia]=Animació;Animació stop-motion;Animació Stop Frame;
Keywords[de]=Animation;Stop Motion Animation;Stop Frame Animation;Stop-Motion;Trickfilm;Stopptrick;
Keywords[en_GB]=Animation;Stop Motion Animation;Stop Frame Animation;
Keywords[es]=Animación;Animación fotograma a fotograma;Animación en volumen;Animación foto a foto;Animación cuadro por cuadro;Parada de imagen;Stop motion;
Keywords[fr]=Animation;Animation image par image;Animation par séquence;
Keywords[it]=Animazione;Animazione a passo uno;Ripresa a passo uno;
Keywords[ka]=Animation;Stop Motion Animation;Stop Frame Animation;
Keywords[nl]=Animatie;Animatie met stop motion;Frame-animatie stoppen;
Keywords[pl]=animacja;animacja poklatkowa;animacja poklatkowa;
Keywords[pt]=Animação;Animação com Imagens Estáticas;
Keywords[pt_BR]=Animação;Animação stop-motion;Animação stop-frame;
Keywords[ro]=Animație;Stop Motion;Cadru cu cadru;Animație cadru cu cadru;
Keywords[sk]=Animácia;Stop Motion Animácia;Stop Frame Animácia;
Keywords[sl]=Animacija;Ustavi gibanje animacij;Ustavi sličico animacije;
Keywords[sv]=Animering;Enbildstagning;Enbildsanimering;
Keywords[tr]=canlandırma;animasyon;stop motion canlandırma;stop frame canlandırma;
Keywords[uk]=Animation;Stop Motion Animation;Stop Frame Animation;анімація;покадрова;кадри;мультфільм;
Keywords[x-test]=xxAnimationxx;xxStop Motion Animationxx;xxStop Frame Animationxx;
MimeType=application/x-stopmotion;
