[Desktop Entry]
Name=Stopmotion
Name[ca]=Stopmotion
Name[de]=Stopmotion
Name[es]=Stopmotion
Name[fr]=Stopmotion
Name[nl]=Stopmotion
Name[pl]=Stopmotion
Name[sk]=Stopmotion
Name[sl]=Stopmotion
Name[sv]=Stopmotion
Name[uk]=Stopmotion
Name[x-test]=xxStopmotionxx
Icon=stopmotion
Comment=Program to create stop-motion animations
Comment[ca]=Programa per a crear animacions stop-motion
Comment[de]=Programm um Animationen mit der Filmtechnik Stop-Motion zu erstellen
Comment[es]=Programa para crear animaciones fotograma a fotograma
Comment[fr]=Programme pour la création d'animations en image par image
Comment[nl]=Programma om animaties met stop-motion aan te maken
Comment[pl]=Program do tworzenia animacji poklatkowych
Comment[sk]=Program na vytvorenie stop-motion animácií
Comment[sl]=Program za ustvarjanje animacij z zaustavljanjem gibanja
Comment[sv]=Program för att skapa animeringar med enbildstagning
Comment[uk]=Програма для створення покадрових анімацій
Comment[x-test]=xxProgram to create stop-motion animationsxx
Exec=stopmotion %f
Terminal=false
Type=Application
Categories=AudioVideo;Video;AudioVideoEditing;KDE;Qt;
Keywords=Animation;Stop Motion Animation;Stop Frame Animation;
Keywords[ca]=Animació;Animació stop motion;Animació Stop Frame;
Keywords[de]=Animation;Stop Motion Animation;Stop Frame Animation;Stop-Motion;Trickfilm;Stopptrick;
Keywords[es]=Animación;Animación fotograma a fotograma;Animación en volumen;Animación foto a foto;Animación cuadro por cuadro;Parada de imagen;Stop motion;
Keywords[fr]=Animation ; Animation image par image ; Animation par séquence
Keywords[nl]=Animatie;Animatie met stop motion;Frame-animatie stoppen;
Keywords[pl]=animacja;animacja poklatkowa;animacja poklatkowa;
Keywords[sk]=Animácia;Stop Motion Animácia;Stop Frame Animácia;
Keywords[sl]=Animacija;Ustavi gibanje animacij;Ustavi sličico animacije;
Keywords[sv]=Animering;Enbildstagning;Enbildsanimering;
Keywords[uk]=Animation;Stop Motion Animation;Stop Frame Animation;анімація;покадрова;кадри;мультфільм;
Keywords[x-test]=xxAnimationxx;xxStop Motion Animationxx;xxStop Frame Animationxx;
MimeType=application/x-stopmotion;
