Source: stopmotion
Section: x11
Priority: optional
Maintainer: Bjoern Erik Nilsen <bjoern.nilsen@bjoernen.com>
Build-Depends: debhelper (>= 4.0.0), libsdl1.2-dev, libxml2-dev, libqt4-dev, libtar-dev, libvorbis-dev, libsdl-image1.2-dev, libfam-dev, pkg-config
Standards-Version: 3.7.2

Package: stopmotion
Architecture: any
Depends: ${shlibs:Depends}
Recommends: vgrabbj, dvgrab, ffmpeg
Suggests: fam
Description: program for creating stop motion animations
 You can create stop-motion animations with images grabbed
 from your favourite video device. You just sets stopmotion to
 use a grabber program which works with your device. It is also 
 possible to do the same with video export; just plug in an
 encoder capable of doing video export from couple of images.
 .
 Stopmotion has a set of tools which helps you creating the 
 movements smooth and precise.
