Source: stopmotion
Section: video
Priority: optional
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Uploaders: Mahyuddin Susanto <udienz@ubuntu.com>,
	   Bjoern Erik Nilsen <bjoern.nilsen@bjoernen.com>
Build-Depends: debhelper (>= 9),
	pkg-config,
	libinotifytools-dev,
	libqt4-dev,
	libsdl-image1.2-dev,
	libsdl1.2-dev,
	libtar-dev,
	libvorbis-dev,
	libxml2-dev
Standards-Version: 3.9.5
Homepage: http://linuxstopmotion.sourceforge.net
Vcs-Git: git://anonscm.debian.org/collab-maint/stopmotion.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/stopmotion.git

Package: stopmotion
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: vgrabbj, dvgrab, ffmpeg
Suggests: gimp
Description: program for creating stop motion animations
 You can create stop-motion animations with images grabbed
 from your favourite video device. You just sets stopmotion to
 use a grabber program which works with your device. It is also 
 possible to do the same with video export; just plug in an
 encoder capable of doing video export from couple of images.
 .
 Stopmotion has a set of tools which helps you creating the 
 movements smooth and precise.
