Source: stopmotion
Section: video
Priority: optional
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Uploaders: Mahyuddin Susanto <udienz@ubuntu.com>,
	   Bjoern Erik Nilsen <bjoern.nilsen@bjoernen.com>
Build-Depends: debhelper (>= 11),
	pkg-config,
	libqt4-dev,
	libtar-dev,
	libvorbis-dev,
	libxml2-dev
Standards-Version: 4.1.3
Homepage: http://linuxstopmotion.sourceforge.net
Vcs-Git: git://anonscm.debian.org/collab-maint/stopmotion.git
Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/stopmotion.git

Package: stopmotion
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: vgrabbj, dvgrab, ffmpeg, uvccapture
Suggests: gimp
Description: create stop-motion animations
 Create stop-motion animations with images grabbed from a video
 device, or from image files, or from still images extracted from
 video.  Stopmotion has a set of tools which helps you keep the
 movements smooth and precise, such as ghosting the last image on a
 live view of the next image to be acquired.
